/* 日本語のフォント */
@font-face {
	font-family: 'GenEiMGothic';
	src: url('GenEiMGothic2-Regular.ttf') format('truetype');

}
/* 英語のフォント */
@font-face {
	font-family: 'Jost';
	src: url('Jost-400-Book.ttf') format('truetype');

}
/* 時計のフォント */
@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.ttf') format('truetype');

}